# Virtual env
env/

# Data folders
lfw-deepfunneled/
db_infos/

# Generated outputs
implementation/output/
cache/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
